<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
    <p><a href="/auth/google">Войти через Google</a></p>
    <p><a href="/auth/vkontakte">Войти через VK</a></p>
    <p><a href="/auth/yandex">Войти через Яндекс</a></p>
    <% if (user) { %>
        <p><a href="/logout">Выйти из аккаунта</a></p>
        <%- include('obj-list', { name: 'Пользователь', obj: user }); %>
        <p><%= `${user.firstName} ${user.lastName}` %></p>
        <p><a href="<%= `mailto:${user.email}` %>"><%= user.email %></a></p>
        <p><a href="/users/students">Добавить Студента / Родителя</p>
        <img src="<%= user.photoUrl %>"/>

    <% } %>
</html>
