<!doctype html>
<html lang="ru">
<head>
    <%- include('meta') %>
    <title>Tutorist</title>
</head>
<body>
<% if (!user) { %>
    <p><a href="/login">Войти</a></p>
<% } %>
<% if (user) { %>
    <p><a href="/logout">Выйти из аккаунта</a></p>
    <%- include('helpers/obj-list', { name: 'Пользователь', obj: user }) %>
    <p><%= `${user.firstName} ${user.lastName}` %></p>
    <p><a href="<%= `mailto:${user.email}` %>"><%= user.email %></a></p>
    <img class="navbar__avatar navbar__avatar_circle" src="<%= user.photoUrl %>"/>
<% } %>
</body>
</html>