<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (account) { %>
      <img src="<%= account.profileUrl %>"/><br/>
      <span><%= `${account.firstName} ${account.lastName}` %></span>
    <% } %>
    <% if (Object.keys(params).length) { %>
      <h2>GET-params</h2>
      <ul>
        <% for (let [key, value] of Object.entries(params)) { %>
          <li><%= key %> - <%= value %></li>
        <% } %>
      </ul>
    <% } %>
    <a href="<%= googleUrl %>">Login with Google</a>
  </body>
</html>
