<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="<%= googleUrl %>">Login with Google</a></p>
    <% if (account) { %>
      <p><%= `${account.firstName} ${account.lastName}` %></p>
      <p><a href="<%= `mailto:${account.email}` %>"><%= account.email %></a></p>
      <img src="<%= account.profileUrl %>"/>
      <%- include('obj-list', { name: 'Аккаунт', obj: account }); %>
    <% } %>
    <% if (Object.keys(params).length) { %>
      <%- include('obj-list', { name: 'GET-параметры', obj: params }); %>
    <% } %>
  </body>
</html>
