<%
let title = 'Профиль';
let page = 'profile';
%>
<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="ru">
<script type="module" src="../../../api/tutor.api.js"></script>
<head>
  <link rel='stylesheet' href='/stylesheets/material-dashboard.css'/>
  <%- include('../components/meta', { title }) %>
</head>

<body class="">
  <div class="wrapper" id="profile">
    <%- include('components/sidebar', { user: user, page }) %>
    <div class="main-panel">
      <%- include('components/navbar', { title }) %>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h3 class="card-title">Изменить профиль</h3>
                </div>
                <div class="card-body">
                  <div id="tutor">
                    <form @submit.prevent="changeData()">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Имя пользователя</label>
                            <input type="text" class="form-control" value=<%= user.username%>>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Email</label>
                            <input type="email" class="form-control" id="email" v-model="form.email">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="bmd-label-floating">Имя</label>
                            <input type="text" id="firstName" class="form-control" v-model="form.firstName">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="bmd-label-floating">Фамилия</label>
                            <input type="text" id="lastName" class="form-control" v-model="form.lastName">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="bmd-label-floating">Отчество</label>
                            <input type="text" id="middleName" class="form-control" v-model="form.middleName">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                        </div>
                      </div>
                      <button type="submit"  class=" btn btn-primary pull-right">Подтвердить изменения</button>
                      <div class="clearfix"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="javascript:;">
                    <img class="img" src=<%= user.photoUrl %> />
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title"><%= `${user.firstName} ${user.lastName || ''}` %></h4>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('components/footer') %>
    </div>
  </div>
  <%- include('components/fixed-plugin') %>
  <%- include('components/scripts') %>
</body>

</html>