<%
let title = 'Ученики';
let page = 'students';
%>
<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="ru">

<head>
  <link rel='stylesheet' href='/stylesheets/material-dashboard.css'/>
  <%- include('../components/meta', { title }) %>
  <script type="module" src="/api/students.api.js"></script>
</head>

<body class="">
<div class="wrapper ">
  <%- include('components/sidebar', { user: user, page }) %>
  <div class="main-panel">
    <%- include('components/navbar', { title, page }) %>
    <div class="content">
      <div id="student">
        <div class="container-fluid">
          <div class="row">
            <template v-for="student in students">
              <div class="col-md-4">
                <a :href="studentProfile(student.id)">
                  <div class="card card-profile card-profile__student">
                    <div class="card-avatar">
                      <img class="img" :src="student.photoUrl || '/images/default-user.png'"/>
                    </div>
                    <div class="card-body">
                      <h6 class="card-category text-gray">{{ student.role }}</h6>
                      <h4 class="card-title">{{ student.fullName }}</h4>
                      <p class="card-description">
                        <span v-for="i in 2">
                          <template v-if="student.Contacts[i]">
                            {{ student.Contacts[i].ContactType.name }}: {{ student.Contacts[i].value }}
                          </template>
                          <template v-else>&nbsp;</template>
                        </span>
                      </p>
                      <div class="row">
                        <div class="col-md-6">
                          <button
                              :href="studentProfileEdit(student.id)"
                              class="btn btn-success"
                          >
                            <i class="material-icons">edit</i> Изменить
                          </button>
                        </div>
                        <div class="col-md-6">
                          <button
                              @click="e => removeStudent(e, student.id)"
                              class="btn btn-danger"
                          >
                            <i class="material-icons">close</i> Удалить
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
    <%- include('components/footer') %>
  </div>
</div>
<%- include('components/fixed-plugin') %>
<%- include('components/scripts') %>
</body>
</html>