<%
let title = 'Ученики';
let page = 'students';
%>
<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="ru">

<head>
  <link rel='stylesheet' href='/stylesheets/material-dashboard.css'/>
  <%- include('../components/meta', { title }) %>
  <script type="module" src="/api/students.api.js"></script>
</head>

<body class="">
<div class="wrapper ">
  <%- include('components/sidebar', { user: user, page }) %>
  <div class="main-panel">
    <%- include('components/navbar', { title }) %>
    <div class="content">
      <div id="student">
        <div class="container-fluid">
          <button @click="addNewStudent()" class="btn btn-primary btn-round">Добавить ученика</button>
          <div class="row">
            <template v-for="student in students">
              <div class="col-md-4">
                <div class="card card-profile">
                  <div class="card-avatar">
                    <img class="img" :src="student.photoUrl || '/images/default-user.png'"/>
                  </div>
                  <div class="card-body">
                    <h6 class="card-category text-gray">{{ student.role }}</h6>
                    <h4 class="card-title">{{ student.fullName }}</h4>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <button
                          @click="studentProfile(student.id)"
                          type="button"
                          rel="tooltip"
                          class="btn btn-info btn-sm"
                      >
                        <i class="material-icons">person</i>
                      </button>
                    </div>
                    <div class="col-md-4">
                      <button
                          @click="studentProfileEdit(student.id)"
                          type="button"
                          rel="tooltip"
                          class="btn btn-success btn-sm"
                      >
                        <i class="material-icons">edit</i>
                      </button>
                    </div>
                    <div class="col-md-4">
                      <button
                          @click="removeStudent(student.id)"
                          type="button"
                          rel="tooltip"
                          class="btn btn-danger btn-sm"
                      >
                        <i class="material-icons">close</i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
    <%- include('components/footer') %>
  </div>
</div>
<%- include('components/fixed-plugin') %>
<%- include('components/scripts') %>
</body>
</html>