<%
let title = 'Ученики';
let page = 'students';
%>
<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="ru">

<head>
  <link rel='stylesheet' href='/stylesheets/material-dashboard.css'/>
  <%- include('../components/meta', { title }) %>
    <script>
      let student = <%- JSON.stringify(student) %>;
    </script>
  <script type="module" src="../../../api/students.api.js"></script>
</head>

<body class="">
  <div class="wrapper ">
    <%- include('components/sidebar', { user: user, page }) %>
    <div class="main-panel">
      <%- include('components/navbar', { title }) %>
      <div class="content">

      <div id ="student">
        <div class="container-fluid">
          <div class="row">

            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                   <div v-if="!image">
                   <img class="img" src="../../../images/default-user.png" />
                   </div>
                   <div v-else>
                    <img class="img" :src="image" />
                    </div>
                </div>
                <div class="card-body">
                  <h5 class="card-category">Выберите фотографию</h5>
                  <div class="form-group form-file-upload form-file-multiple">
                      <input name="fileInput" id="fileInput" type="file" @change="onFileChange" style="display:none;" />
                      <div class="input-group">
                          <input type="text" class="form-control inputFileVisible" placeholder="Choose a file">
                          <span class="input-group-btn">
                              <button onclick="document.getElementById('fileInput').click();" type="button" class="btn btn-fab btn-round btn-primary">
                                  <i class="material-icons">attach_file</i>
                              </button>
                          </span>
                      </div>
                    </div>

                  <a href="javascript:;" class="btn btn-primary btn-round">Загрузить</a>
                </div>
              </div>
            </div>

            <div class="col-md-8">
             <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Информация</h4>
                       </div>
                          <div class="card-body">

                                             <form @submit.prevent="changeStudent(<%= student.id %>)">
                                              <div class="row">
                                                <div class="col-md-4">
                                                  <div class="form-group">
                                                    <label class="bmd-label-floating">Имя</label>

                                                    <input type="text" class="form-control" value="<%= student.firstName%>" v-model="form.firstName">
                                                  </div>
                                                </div>
                                                <div class="col-md-4">
                                                  <div class="form-group">
                                                    <label class="bmd-label-floating">Фамилия</label>
                                                    <input type="text" class="form-control" value="<%= student.lastName%>" v-model="form.lastName">
                                                  </div>
                                                </div>
                                                 <div class="col-md-4">
                                                   <div class="form-group">
                                                     <label class="bmd-label-floating">Отчество</label>
                                                       <input type="text" class="form-control" value="<%= student.middleName%>" v-model="form.middleName">
                                                   </div>
                                                 </div>
                                              </div>

                                                <div class="form-group">
                                                  <label for="role">Роль</label>
                                                  <select class="form-control" data-style="btn btn-link" id="role" value="<%= student.role%>" v-model="form.role">
                                                    <option value="student">Ученик</option>
                                                    <option value="parent">Родитель</option>
                                                  </select>
                                                </div>

                                              <div class="row">
                                                <div class="col-md-12">



                                                </div>
                                              </div>

                                              <div
                                                                                            v-for="(contact, counter) in form.Contacts"
                                                                                            v-bind:key="counter">

                                                                                              <a>{{counter+1}}. Контакт:</a>
                                                                                              <button @click="deleteContact(counter)" type="button" rel="tooltip" class="btn btn-danger">
                                                                                                   <i class="material-icons">close</i>
                                                                                              </button>

                                                                                              <div class="row">
                                                                                              <div class="col-md-4">
                                                                                              <div class="form-group">
                                                                                              <label class="bmd-label-floating">Тип контакта*:</label>
                                                                                                     <select class="form-control " data-style="btn btn-link" v-model="contact.contactTypeId" required>
                                                                                                     <option v-for="contactType in contactTypes" type="hidden" :value="contactType.id">
                                                                                                         {{ contactType.name }}
                                                                                                     </option>
                                                                                                     </select>
                                                                                              </div>
                                                                                              </div>



                                                                                              <div class="col-md-4">
                                                                                              <div class="form-group">
                                                                                              <label class="bmd-label-floating">Значение*</label>
                                                                                              <input type="text" class="form-control" v-model="contact.value" required>

                                                                                              </div>
                                                                                              </div>



                                                                                              <div class="col-md-4">
                                                                                              <div class="form-group">
                                                                                              <label class="bmd-label-floating">Описание:</label>
                                                                                              <input type="text" class="form-control" v-model="contact.description">
                                                                                              </div>
                                                                                              </div>
                                                                                              </div>

                                                                                            </div>

                                                                  <div class="row">
                                                                  <div class="col-md-12">
                                                                  <button class="btn btn-primary pull-right" @click="addContact">Добавить контакт</button>
                                                                  </div>
                                                                  </div>


                                              <input type="submit" class="btn btn-primary pull-right" value="Сохранить">
                                              <div class="clearfix"></div>
                                              </form>


                          </div>
                          </div>
                          </div>
                        </div>



          </div>
        </div>
      </div>
      <%- include('components/footer') %>
    </div>
  </div>
  <%- include('components/fixed-plugin') %>
  <%- include('components/scripts') %>
</body>
</html>