<%
let title = 'Ученики';
let page = 'students';
%>
<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="ru">

<head>
  <link rel='stylesheet' href='/stylesheets/material-dashboard.css'/>
  <%- include('../components/meta', { title }) %>
  <script type="module" src="../../../api/students.api.js"></script>
</head>

<body class="">
  <div class="wrapper ">
    <%- include('components/sidebar', { user: user, page }) %>
    <div class="main-panel">
      <%- include('components/navbar', { title }) %>
      <div class="content">


        <div class="container-fluid">
          <div class="row">

            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="javascript:;">
                    <img class="img" src=<%= user.photoUrl %> />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                  <h4 class="card-title"><%= `${user.firstName} ${user.lastName || ''}` %></h4>
                  <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                  </p>
                  <a href="javascript:;" class="btn btn-primary btn-round">Follow</a>
                </div>
              </div>
            </div>

            <div class="col-md-8">
             <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Информация</h4>
                       </div>
                          <div class="card-body">
                          <div id ="student">


                                              <div class="row">
                                                <div class="col-md-4">
                                                  <div class="form-group">
                                                    <label class="bmd-label-floating">Имя</label>

                                                    <input type="text" class="form-control" value="<%= student.firstName%>" disabled>
                                                  </div>
                                                </div>
                                                <div class="col-md-4">
                                                  <div class="form-group">
                                                    <label class="bmd-label-floating">Фамилия</label>
                                                    <input type="text" class="form-control" value="<%= student.lastName%>" disabled>
                                                  </div>
                                                </div>
                                                 <div class="col-md-4">
                                                   <div class="form-group">
                                                     <label class="bmd-label-floating">Отчество</label>
                                                       <input type="text" class="form-control" value="<%= student.middleName%>" disabled>
                                                   </div>
                                                 </div>
                                              </div>

                                                <div class="form-group">
                                                  <label for="role">Роль</label>
                                                  <select class="form-control" data-style="btn btn-link" id="role" value="<%= student.role%>" disabled>
                                                    <option>Ученик</option>
                                                    <option>Родитель</option>
                                                  </select>
                                                </div>

                                              <div class="row">
                                                <div class="col-md-12">
                                                  <div class="form-group form-file-upload form-file-multiple">
                                                      <input type="file" multiple="" class="inputFileHidden">
                                                      <div class="input-group">
                                                          <input type="text" class="form-control inputFileVisible" placeholder="Upload photo">
                                                          <span class="input-group-btn">
                                                              <button type="button" class="btn btn-fab btn-round btn-primary">
                                                                  <i class="material-icons">attach_file</i>
                                                              </button>
                                                          </span>
                                                      </div>
                                                    </div>
                                                </div>
                                              </div>
                                              <button @click="studentProfileEdit(<%=student.id%>)" class="btn btn-primary">Изменить</button>
                                              <div class="clearfix"></div>


                          </div>
                          </div>
                          </div>
                        </div>



          </div>
        </div>
      </div>
      <%- include('components/footer') %>
    </div>
  </div>
  <%- include('components/fixed-plugin') %>
  <%- include('components/scripts') %>
</body>
</html>